head{
    text-align: center;
    color: white;
}

body{
    color: white;
    background-color: black;
}

span{
    padding: 10px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px 10px 30px 20px;
}

div.end{
    text-align: center;
}
p.title{
    font-family: fantasy;
    text-align: center;
}

div.intro{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border: 5px white;
}

div.banner{
    text-align: center;
}

h1{
    padding: 10px;
    font-size: auto;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
}

h2{
    padding: 10px;
    font-size: auto;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
}

div.one{
    display: flex;
    align-items: center;
}

img.oneImage{
    border: 5px solid white;
    border-radius: 5px;
    margin: 0px 10px 30px 20px;
}

div.captain{
    text-align: center;
    align-items: center;
}

img.captainImage{
    border: 5px solid blue;
    border-radius: 5px;
    margin: 0px 10px 30px 20px;
}

div.funwithhands{
    vertical-align:middle;
    align-items: center;
    text-align: center;
}

img.funwithhandsImage{
    float: right;
    border: 5px solid white;
    border-radius: 5px;
    margin: 50px 10px 30px 20px;
}

div.People{
    display: flex;
    align-items: center;
}

img.imgPeople{
    border: 5px solid rgb(146, 37, 126);
    border-radius: 5px;
    margin: 0px 10px 30px 20px;
}

div.AnerianPort{
    text-align: center;
    align-items: center;
}

img.anerianPortImg{
    border: 5px solid rgb(82, 129, 195);
    border-radius: 5px;
    margin: 0px 10px 30px 20px;
}

div.selfPortraitOne{
    vertical-align:middle;
    align-items: center;
    text-align: center;
}

img.selfPortraitOneImg{
    transform:rotateX(90);
    float: right;
    border: 5px solid white;
    border-radius: 5px;
    margin: 50px 10px 30px 20px;
}

div.fredrich{
    display: flex;
    align-items: center;
}

img.imgFredrich{
    border: 5px solid rgb(56, 0, 42);
    border-radius: 5px;
    margin: 0px 10px 30px 20px;
}

div.DepressionDrawing{
    text-align: center;
    align-items: center;
}

img.depressionDrawingImg{
    border: 5px solid rgb(197, 134, 242);
    border-radius: 5px;
    margin: 0px 10px 30px 20px;
}

div.Diealation{
    vertical-align:middle;
    align-items: center;
    text-align: center;
}

img.DiealationImg{
    float: right;
    border: 5px solid rgb(212, 166, 0);
    border-radius: 5px;
    margin: 50px 10px 30px 20px;
}

div.anxietyofattraction{
    display: flex;
    align-items: center;
}

img.imgAnxietyAttraction{
    border: 5px solid rgb(103, 17, 2);
    border-radius: 5px;
    margin: 0px 10px 30px 20px;
}

div.MeAgain{
    text-align: center;
    align-items: center;
}

img.meImg{
    border: 5px solid rgb(82, 81, 84);
    border-radius: 5px;
    margin: 0px 10px 30px 20px;
}

div.FuckEyes{
    vertical-align:middle;
    align-items: center;
    text-align: center;
}

img.fuckeyesImg{
    float: right;
    border: 5px solid rgb(212, 0, 0);
    border-radius: 5px;
    margin: 50px 10px 30px 20px;
}

div.EwEmo{
    display: flex;
    align-items: center;
}

img.EwEmoImg{
    border: 5px solid rgb(135, 124, 122);
    border-radius: 5px;
    margin: 0px 10px 30px 20px;
}
